.back-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.back-link:hover {
  cursor: pointer;
}

.back-link__icon-button {
  padding-left: 0;
  color: #fff;
}

.back-link__text {

}
