.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 30, 60, .85);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(194, 224, 255, 0.08);
    color: #fff;
}

.header-content {
    max-width: 1400px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header a {
    color: #fff;
    text-decoration: none;
}

.header a:hover {
    color: #3f50b5;
    transition: color .2s ease-out;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
